@import "global";

%message {
  border: 1px solid $color-white;
  color: $color-black;
  margin: 1rem;
  padding: 1rem 4rem;
}
.default {
  @extend %message;
  color: rgb(255, 253, 128);
}

.error {
  @extend %message;
  color: $color-error;
  border: 2px dotted $color-error;
  border-radius: $border-radius;
}

.check {
  @extend .default;
  color: $color-success;
  border-color: $color-success;
  &::before {
    content: "✔";
  }
}
.bad {
  @extend .error;
  border-color: $color-warning;
  color: $color-warning;
  &::before {
    content: "✘";
  }
}
.multiple {
  @extend .check, .bad;
}
