@import "constant";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  content: "";
  font-family: "Noto Serif JP", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s linear;
  &::selection {
    background-color: #3cad57;
    color: rgb(255, 255, 255);
    text-shadow: none;
  }
}
html {
  font-size: $baseSize;
  @include tablet {
    font-size: $baseSize * 0.9;
  }
  @include mobile {
    font-size: $baseSize * 0.8;
  }
}
body {
  max-width: 1200px;
  font-size: 1.6rem;
  margin: 0 auto;
  @include tablet {
    margin: 0 1rem;
  }
  @include mobile {
    margin: 0 0.4rem;
  }
}
main {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@import "theme";
