@import "global";

$base-color: #2300be;
$border-dark: rgba($base-color, 0.88);
$font-stack: "Noto Serif JP", sans-serif;
$primary-color: rgb(204, 139, 0);

body {
  font-family: $font-stack;
  color: $primary-color;
}
div {
  margin: 1rem;
}
.alert {
  border: 1px solid $border-dark;
  color: $base-color;
}
